<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">Inquiries</h1>
</div>

<table class="w-full bg-white shadow rounded">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left p-3">ID</th>
      <th class="text-left p-3">Facility</th>
      <th class="text-left p-3">Company</th>
      <th class="text-left p-3">Contact</th>
      <th class="text-left p-3">Desired Date</th>
      <th class="text-left p-3">Quote</th>
      <th class="text-left p-3">Reservation</th>
      <th class="text-left p-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr class="border-t">
        <td class="p-3"><%= inquiry.id %></td>
        <td class="p-3"><%= inquiry.facility.name %></td>
        <td class="p-3"><%= inquiry.company_name %></td>
        <td class="p-3"><%= inquiry.contact_name %></td>
        <td class="p-3"><%= inquiry.desired_date %></td>
        <td class="p-3"><%= inquiry.quote&.status || "-" %></td>
        <td class="p-3">
          <% if inquiry.reservation %>
            <%= link_to inquiry.reservation.status.titleize, admin_reservation_path(inquiry.reservation), class: "text-blue-600 hover:underline" %>
          <% else %>
            <%= link_to "Create Reservation", new_admin_reservation_path(inquiry_id: inquiry.id), class: "text-green-600 hover:underline" %>
          <% end %>
        </td>
        <td class="p-3">
          <%= link_to "Show", admin_inquiry_path(inquiry), class: "text-blue-600 hover:underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
