<div class="flex justify-between items-center mb-6">
  <h1 class="text-2xl font-bold">Email Templates</h1>
  <%= link_to "New Template", new_admin_email_template_path, class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
</div>

<table class="w-full bg-white shadow rounded">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left p-3">Facility</th>
      <th class="text-left p-3">Subject</th>
      <th class="text-left p-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @email_templates.each do |et| %>
      <tr class="border-t">
        <td class="p-3"><%= et.facility.name %></td>
        <td class="p-3"><%= et.subject %></td>
        <td class="p-3">
          <%= link_to "Show", admin_email_template_path(et), class: "text-blue-600 hover:underline mr-2" %>
          <%= link_to "Preview", preview_admin_email_template_path(et), class: "text-green-600 hover:underline mr-2" %>
          <%= link_to "Edit", edit_admin_email_template_path(et), class: "text-blue-600 hover:underline mr-2" %>
          <%= button_to "Delete", admin_email_template_path(et), method: :delete,
              data: { turbo_confirm: "Are you sure?" },
              class: "text-red-600 hover:underline bg-transparent border-0 cursor-pointer" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
